.site-nav {
  height: 65px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  color: $text-color;

  ul {
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    list-style-type: none;
    margin-right: 20px;
  }
}